<%= render 'datepicker_jqy' %>

<div class='row form-title'>
  <h1 class='form-header'>New Event Form</h1>
  <h4><em>Please fill out all fields</em></h4>
</div>

<!-- <div class='row'> -->
<%= form_for(:event, url: admin_events_path, :html => {:class => 'form-horizontal center'}) do |f| %>
  <div class="form-group date-select"> 
      
  <div>   
    <%= f.label :name %>
    <%= f.text_field :name %>
  </div> 

  <div>  
    <%= f.label :description %>
    <%= f.text_field :description %>
  </div> 

  <div>  
    <%= f.label :location %>
    <%= f.text_field :location %>
  </div> 

  <form>
    <%= f.label :start_date %>
    <%= f.text_field :start_date, id: "datepicker", class: "dp" %>
  </form>

  <form>
  <%= f.label :end_date %>
  <%= f.text_field :end_date, id: "datepicker2", class: "dp"  %>
  </form>

  <form>
    <%= f.label :start_time %>
    <%= f.text_field :start_time %>
  </form>

  <form>
    <%= f.label :end_time %>
    <%= f.text_field :end_time %>
  </form>
      
  <div class='form-group'>
    <%= f.submit 'Submit', class: 'btn btn-default btn-primary col-md-2 col-md-offset-4' %>
  </div>
  <% end %> 
</div>


