<h1><%= @event.name %></h1>
<h2><%= @event.description %></h2>
<h2><%= @event.location %></h2>
<h4><%= @event.start_date %></h4>
<h4><%= @event.end_date %></h4>
<h4><%= @event.start_time %></h4>
<h4><%= @event.end_time %></h4>

